:root {
  --color-default: #212529;
  --color-primary: #ce1212;
  --color-secondary: #37373f;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
}

section {
  overflow: hidden;
  padding: 15px 0;
}

.section-header {
  text-align: center;
  padding-bottom: 30px;
}

.section-header p {
  margin: 0;
  font-size: 40px;
  font-weight: 400;
  font-family: var(--font-primary);
}

.section-header p span {
  color: var(--color-primary);
}

.testimonials .testimonial-item .testimonial-content {
  border-left: 3px solid var(--color-primary);
  padding-left: 30px;
}

.testimonials .testimonial-item .testimonial-img {
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0 auto;
}

.testimonials .testimonial-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: var(--color-default);
  font-family: var(--font-secondary);
}

.testimonials .testimonial-item h4 {
  font-size: 15px;
}
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}
.carousel-indicators{
  filter: invert(100%);
}